.card {
    /*width: 380px;*/
    max-width: 400px;
    width: 90vw;
    margin: 5vh auto;
    background-color: #121918;
    color: white;
    border: 1px solid #d6b48e;
}

.card-header {
    text-align: center;
    padding: 30px 0px 30px 0px;
    cursor: default;
}

.card-inputs {
    display: flex;
    flex-direction: column;
}

.card-input {
    margin: 20px 40px 20px 40px;
    outline: none;
    border: 1px solid #d6b48e;
    background-color: rgba(86, 86, 128, 0.345);
    padding: 1rem;
    color: black;
}

.card-input:focus {
    background-color: white;
}

.card-submission {
    text-align: center;
}

.submit-button {
    background-color: #121918;
    color: white;
    border: 0.8px solid #d6b48e;
    padding: 8px 30px 8px 30px;
    cursor: pointer;
    text-align: center;
    margin: 60px 0px 70px 0px;
    width: 180px;
    font-family: 'Cinzel', serif;
}

.submit-button:hover {
    background-color: rgba(86, 86, 128, 0.345);
}