:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(223, 229, 215, 0.87);
  background-color: #121918;

}

.header {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.page-header {
  border-bottom: 0.8px solid #d6b48e;
}

input {
  border: 0.8px solid #d6b48e;
  border-radius: 1px;
  outline: none;
  width: 60%;
  padding: 0.5rem;
  background-color: #121918;
  color: #d6b48e;
}