.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background-color: #121918;
    padding: 2rem;
    border: 1px solid #d6b48e;
    max-height: 70vh;
    overflow-y: auto;
    color: #d6b48e;
    width: 80%;
    max-width: 900px;
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px solid #d6b48e;
    color: #d6b48e;
    font-size: 1rem;
    padding: 4px 8px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #1e2a2f;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}

.item-card {
    background-color: #121918;
    border: 1px solid #d6b48e;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #d6b48e;
}

.item-card:hover {
    background-color: #1e2a2f;
}

.item-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.pagination-controls button {
    background-color: #121918;
    color: #d6b48e;
    border: 0.8px solid #d6b48e;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 10%;
}

.pagination-controls button:hover {
    background-color: #1e2a2f;
}

.pagination-controls button.disabled {
    background-color: #444;
    color: #777;
    cursor: not-allowed;
}

.pagination-detail {
    margin: 0rem 1rem;
}